/* ===== Global ===== */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

div.animation {
  display: block;
  padding: 0;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
}

div.animation video {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

div.map {
}

/* ===== Login ===== */
div.login-wrapper {
  height: 100%;
  background: rgb(4, 138, 191);
  background: linear-gradient(
      342deg,
      rgba(4, 138, 191, 1) 22%,
      rgba(217, 91, 173, 1) 56%,
      rgba(77, 60, 134, 1) 76%
    )
    fixed;
}

div.login-wrapper label {
  display: none;
}

div.login-wrapper .form-check-label {
  display: inline-block;
}

#form-inner img {
  max-width: 100%;
  height: auto;
}

#login-form {
  background: #fff;
  border-radius: 10px;
}

#login-form h1 {
  color: #4d3c86;
}

#login-form button {
  padding: 10px 25px;
  cursor: pointer;
  outline: none;
  background: #048abf;
  border: none;
}

#login-form button:hover {
  background: #4d3c86;
}

/* ===== Admin Dashboard ===== */
.main-content {
  margin-left: 5rem;
}

.main-content .form-group-container {
  
}

.main-content .form-group-container .form-title {
  
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  max-width: 80px;
  background-color: #048ABF;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-sticky a:hover, .sidebar-sticky a.active {
  background-color: #049DBF;
}

/* ===== Journey Creation ===== */
.form-title {
  background-color: #048ABF;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 6px 6px 0 0;
}

.form-container {
  border-bottom: 2px solid #d3d3d3;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.form-container input {
  border-radius: 6px;
}

.form-container table th {
  font-weight: normal;
  padding-left: 15px;
  padding-right: 15px;
  font-size: .875rem;
  line-height: 1.5;
}

.form-group-container table .create-btn {
  border-color: #d3d3d3;
  border-radius: 6px;
}

#journey-submit {
  background-color: #048ABF;
  color: white;
}

#journey-submit:hover {
  background-color: #049DBF;
}