**/.classpath
**/.DS_Store
**/.dockerignore
**/.env.example
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/db/*.json
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/static/audio/*.mp3
**/static/audio/*.m4a
**/uploads/*.mp3
**/values.dev.yaml
README.md
