extends admin 
block main 
    .col-md-4.main-content.pt-1
        form
            .form-group-container
                .form-title.d-flex.flex-row.justify-content-between
                    h2.h5 Journey Details 
                    small Required
                .form-group
                    label(for='forename').d-bloc Forename
                    input(type='text' name='forename')#forname
                .form-group
                    label(for='surname') Surname
                    input(type='text' name='surname')#surname
            .form-group-container

                