extends layout

block content
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgQsUmoRWeiRlclZbkSmn3vIFEmJZaBN4")
    script(src='/s/js/lib/journey.js')
    script(src='/s/js/lib/point.js')
    script(src='/s/js/add-journey.view.js')
    <script src="https://kit.fontawesome.com/cb6381c63c.js" crossorigin="anonymous"></script>

    .container-fluid.p-0
        .row
            nav.col-md-1.sidebar.p-0
                .sidebar-sticky
                    ul.nav
                        li.nav-item 
                            a(href='').d-block
                                img(src='/s/icons/Burger_Stack.png').img-fluid
                        li.nav-item 
                            a(href='').d-block
                                img(src='/s/icons/Pin.png').img-fluid
                        li.nav-item 
                            a(href='/admin/add-journey').d-block
                                img(src='/s/icons/Plus.png').img-fluid
            block main