extends layout

block content
    <script src="https://kit.fontawesome.com/cb6381c63c.js" crossorigin="anonymous"></script>

    .container-fluid.p-0
        .row
            nav.col-md-1.sidebar.p-0
                .sidebar-sticky
                    ul.nav
                        li.nav-item 
                            a(href='/admin/logout').d-block
                                img(src='/s/icons/logout.png').img-fluid#logout-icon
                        li.nav-item 
                            a(href='/admin/dashboard').d-block
                                img(src='/s/icons/burger_stack.png').img-fluid
                        li.nav-item 
                            a(href='/admin/add-journey').d-block
                                img(src='/s/icons/plus.png').img-fluid
            block main