extends admin 
block main
    script(src='/s/js/lib/point.js')
    script(src='/s/js/lib/journey.js')
    script(src='/s/js/journey-crud.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgQsUmoRWeiRlclZbkSmn3vIFEmJZaBN4&callback=initMap" async)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Journeys
        .btn-toolbar.mb-2.mb-md-0
            .btn-group.mr-2
                button.btn.btn-outline-secondary.create-btn#pane-switch-btn Create

    //- Journey list
    .pane-container.container-fluid.h-100
        .row.admin-pane.active-pane#journey-list 
            .table-responsive.col-12
                table.table.table-sm.table-hover
                    thead 
                        tr 
                            th #
                            th Forename
                            th Surname
                            th Points
                            th Update
                            th Delete
                        tbody

            //- Create journey
        .row.admin-pane#create-journey
            .col-sm-6.border-right#journey-options
                h2.h4.text-center Details
                form
                    .row.mb-3
                        .col-sm.text-center
                            label(for='forename') Forename
                            input(type='text').form-control#forename
                        .col-sm.text-center
                            label(for='surname') Surname
                            input(type='text').form-control#surname
                    .row 
                        .col-sm
                            button(type='button').btn.w-100#submit-journey-btn Submit

            .col-sm-6#point-options
                .text-center
                    h2.h4.d-inline-block.mr-3 Points
                    button(data-toggle='modal' data-target='#point-form').btn.btn-outline-secondary.btn-sm.float-right.create-btn#point-add-btn Add

                .table-responsive.mt-3
                    table.table.table-hover
                        thead
                            tr
                                th #
                                th Lat/Lng
                                th Arrival 
                                th Departure 
                                th Update 
                                th Delete 

    .modal.fade(tabindex='-1')#point-form
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h2.modal-title Create point
                    button(type='button' data-dismiss='modal' aria-label='Close').close
                        span(aria-hidden='true') &times;
                .modal-body
                    .container-fluid 
                        .row 
                            .col-6.border-right.pl-0
                                h3.h4.text-center Details
                                form#point-create-form
                                    .row.mb-3
                                        .col-6.text-center
                                            label(for='lat') Latitude
                                            input(type='text' readonly required).form-control#lat
                                        .col-6.text-center
                                            label(for='lng') Longitude
                                            input(type='text' readonly required).form-control#lng
                                    .row.mb-3
                                        .col-6.text-center
                                            label(for='arrival') Arrival Date
                                            input(type='date' required).form-control#arrival
                                        .col-6.text-center
                                            label(for='departure') Deperature Date
                                            input(type='date' required).form-control#departure
                                    .row.mb-3
                                        .col-12.text-center 
                                            label(for='video-link') Video Link
                                            input(type='url' required).form-control#video-link
                                    .row.mb-3
                                        .col-12.text-center
                                            label(for='desc') Description
                                            textarea.form-control#desc

                            .col-6.pr-0
                                h3.h4.text-center Location
                                .container-fluid.h-100#gmap-container
                                    .row.h-100
                                        .col-12#gmap

                .modal-footer
                    d.flex.w-100
                        button(type='button' data-dismiss='modal').btn.btn-secondary.w-50.rounded-0 Close
                        button(type='submit').btn.btn-primary.w-50.rounded-0#point-create-btn Submit

        