doctype html
html
  head
    title= title
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/s/stylesheets/style.css')
  body
    block content

