doctype html
html
  head
    title= title
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/s/stylesheets/style.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans&display=swap' rel='stylesheet')
  body
    block content

