extends layout

block content
    .login-wrapper.container-fluid
        .row.justify-content-center
            .col-md-4.shadow-lg.mt-5#login-form
                #form-inner.p-4
                    img(src='/a/login/logo.png')
                    form
                        //- Labels not shown but included for accessibility - do not remove
                        .form-group
                            //- Email
                            label(for='email-input') Email
                            input(type='email' placeholder='Enter email address' required='').form-control.mb-3#email-input

                            //- Password
                            label(for='password-input') Password
                            input(type='password' placeholder='Enter password' required='').form-control#email-input
                        
                        .form-check 
                            input(type='checkbox').form-check-input#remember-me
                            label(for='remember-me').form-check-label Remember me

                        //- Submit
                        button(type='submit').btn.btn-primary.mt-4.w-100 Submit

    script(src='/s/js/login.js')
