extends layout

block content
    .login-wrapper.container-fluid
        .row.justify-content-center
            .col-md-4.shadow-lg.mt-5#login-form
                #form-inner.p-4
                    img(src='/s/img/logo.png')
                    form(action="/admin/login", method="post")#login-form
                        //- Labels not shown but included for accessibility - do not remove
                        .form-group
                            //- Password
                            label(for='password-input')= __('Password')
                            input(type='password' placeholder='Enter password' required=true, name='password').form-control#password-input
                            .error= (badPassword) ? __('login.bad.password') : ""

                        //- Submit
                        button(type='submit').btn.btn-primary.mt-4.w-100= __('Submit')
